/* CSS reset */
* {
    margin: 0;
    padding: 0;
}

/* Leftpane of servers */
#leftpane {
    display: flex;
    flex-direction: column;
    background-color: rgba(42, 42, 42, 0.952);
    width: 4rem;
    height: 100vh;
}

#leftpane #logo {
    filter: grayscale();
    cursor: pointer;
}

#leftpane #logo:hover {
    background-color: white;
}

#leftpane #servers li img{
    cursor: pointer;
} 

#leftpane #servers li img:hover{
    border-radius: 30%;
} 

/* utility classes */

.leftImg {
    width: 3rem;
    padding: 7px 7px;
    border-radius: 50%;
}