* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: orange;
}
/* navbar */
nav {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.logo {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: inherit;
}

.logo p {
    font-size: 2rem;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 1.5rem;
}

.navbar ul li {
    padding: 3px;
    margin: 1.5rem;
    color: white;
    font-weight: 1000;
    font-size: 18px;
}

.right {
    margin-left: 140px;
}

.right .btn {
    outline: none;
    border: none;
    color: orange;
    background-color: white;
    padding: 25px 30px;
    font-size: 15px;
    border-radius: 4px;
}