* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

img {
    width: 100px;
}


header {
    color: white;
    background-color: black;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grey-bg {
    background-color: rgba(199, 197, 197, 0.548);
}

.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem 6rem;
}

.title-item {
    width: 20vw;
}

.left-logo-spense {
    margin: 0 3rem;
    font-size: 1.5rem;
    width: 5%;
    padding: 1rem 5rem;
    cursor: pointer;
}

.navbar {
    display: flex;
    margin-left: 15%;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
    width: 33vw;
    padding: 1rem 5rem;
}

.navbar ul {
    display: flex;
    list-style: none;
    /* padding: 1rem; */
}

.navbar ul li {
    padding: 1rem;
    cursor: pointer;

}

.right-login {
    display: flex;
}

.right-login ul{
    display: flex;
    list-style: none;
}

.right-login ul li {
    /* margin: 0 1rem; */
    padding: 1rem 1rem;
    cursor: pointer;

}

#get-started-box {
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}

.link {
    cursor: pointer;
}